nav {
  background-color: transparent;
  box-shadow: none;
}

.reset-button {
  background-color: white;
  color: #324B4A;
}

.reset-button:hover {
  background-color: #324B4A;
  opacity: 0.7;
  transform: scale3d(1.1, 1.1, 1.1);
  color: #fff;
  border: 1px solid #fff;
  box-shadow: 1px 17px 10px -10px #555;
}

a.brand-logo {
  margin-left: 20px;
}
