
/* This styling based on tutorial from Decypher Media
https://www.youtube.com/watch?v=pTHCwUdGFkc&t=1851s */

.board {
  display: flex;
  width: 600px;
  height: 600px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 80px;
}

.square {
  height: 200px;
  width: 200px;
  box-sizing: border-box;
  border: 2px solid black;
  font-size: 90px;
  text-align: center;
  padding: 40px;
}

.square:hover {
  background-color: orangered;
  opacity: .3;
  box-shadow: 0 14px 28px rgba(0,0,0,0.5), 0 10px 10px rgba(0,0,0,0.5);
}

/* STYLES */
